# Data Description

US Crime Rate dataset describes various crimes and its count value from year 1960 to 2014

# Attribute Information :

1). Year --> from 1960 to 2014 (numerical values)

2). Population --> Population count at particular Year (numerical values)

3). Total --> Crime Total from the population (numerical values)

4). Violent --> Violent crime count (numerical values)

5). Property --> Property fraudant crime count (numerical values)

6). Murder --> Violent murder crime count (numerical values)

7). Forcible_Rape --> Violent rapes crime count (numerical values)

8). Robbery --> Robbery crime count (numerical values)

9). Aggravated_assault --> Aggravated assualt crime count (numerical values)

10). Burglary --> Burglary crime count (numerical values)

11). Larcency_Theft --> Larcency Theft count (numerical values)

12). Vehicle_Theft --> Vehicle Theft count (numerical values)

In [0]:
import pandas as pd
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/CSiddharthNavaneethan/data_analysis/master/US_Crime_Rates_1960_2014.csv'

In [0]:
# read the file
df = pd.read_csv(url)

In [4]:
df.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

In [5]:
# data description
df.info()

# total rows
df.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

55

In [6]:
df.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

In [0]:
# checking for violent crimes
data1 = pd.DataFrame(df)

In [0]:
# violent crimes sum total
data1['Violent_Crimes_Total'] = data1[['Violent','Murder','Forcible_Rape']].apply(np.sum,axis=1)

In [9]:
# total violent crime as by Year 
pd.pivot_table(data1,index='Year' 
               ,values=['Violent','Murder','Forcible_Rape','Violent_Crimes_Total']
               ,aggfunc=np.sum
               ,margins_name='Total'
               ,margins=True)

       Forcible_Rape  Murder   Violent  Violent_Crimes_Total
Year
1960           17190    9110    288460                314760
1961           17220    8740    289390                315350
1962           17550    8530    301510                327590
1963           17650    8640    316970                343260
1964           21420    9360    364220                395000
1965           23410    9960    387390                420760
1966           25820   11040    430180                467040
1967           27620   12240    499930                539790
1968           31670   13800    595010                640480
1969           37170   14760    661870                713800
1970           37990   16000    738820                792810
1971           42260   17780    816500                876540
1972           46850   18670    834900                900420
1973           51400   19640    875910                946950
1974           55400   20710    974720               1050830
1975           56090   20510   1039710               1116310
1976           57080   18780   1004210               1080070
1977           63500   19120   1029580               1112200
1978           67610   19560   1085550               1172720
1979           76390   21460   1208030               1305880
1980           82990   23040   1344520               1450550
1981           82500   22520   1361820               1466840
1982           78770   21010   1322390               1422170
1983           78920   19310   1258090               1356320
1984           84230   18690   1273280               1376200
1985           88670   18980   1328800               1436450
1986           91459   20613   1489169               1601241
1987           91110   20096   1483999               1595205
1988           92490   20680   1566220               1679390
1989           94500   21500   1646040               1762040
1990          102560   23440   1820130               1946130
1991          106590   24700   1911770               2043060
1992          109060   23760   1932270               2065090
1993          106010   24530   1926020               2056560
1994          102220   23330   1857670               1983220
1995           97470   21610   1798790               1917870
1996           96250   19650   1688540               1804440
1997           96153   18208   1634770               1749131
1998           93103   16914   1531044               1641061
1999           89411   15522   1426044               1530977
2000           90178   15586   1425486               1531250
2001           90863   16037   1439480               1546380
2002           95235   16229   1423677               1535141
2003           93883   16528   1383676               1494087
2004           95089   16148   1360088               1471325
2005           94347   16740   1390745               1501832
2006           92757   17030   1418043               1527830
2007           90427   16929   1408337               1515693
2008           90479   16442   1392628               1499549
2009           89241   15399   1325896               1430536
2010           85593   14772   1251248               1351613
2011           84175   14661   1206031               1304867
2012           85141   14866   1217067               1317074
2013           82109   14319   1199684               1296112
2014           84041   14249   1197987               1296277
Total        3999314  952448  65384309              70336071

In [0]:
# create a new dataframe for other violent crimes 
data2 = pd.DataFrame(df)

In [0]:
# other violent crimes sum total
data2['Violent_Fraudant_and_Other_Crime_Total'] = data2[['Property','Robbery','Aggravated_assault','Burglary','Larceny_Theft','Vehicle_Theft']].apply(np.sum,axis=1)

In [12]:
# total other violent crimes as by Year
pd.pivot_table(data2,index='Year'
               ,values=['Property','Robbery','Aggravated_assault','Burglary','Larceny_Theft','Vehicle_Theft','Violent_Fraudant_and_Other_Crime_Total']
               ,aggfunc=np.sum
               ,margins_name='Total'
               ,margins=True)

       Aggravated_assault  ...  Violent_Fraudant_and_Other_Crime_Total
Year                       ...
1960               154320  ...                                 6453560
1961               156760  ...                                 6660630
1962               164570  ...                                 7176830
1963               174210  ...                                 7875680
1964               203050  ...                                 8734240
1965               215330  ...                                 9058020
1966               235330  ...                                 9979920
1967               257160  ...                                11267070
1968               286700  ...                                12799940
1969               311090  ...                                14107940
1970               334970  ...                                15403230
1971               368760  ...                                16299860
1972               393090  ...                                15597180
1973               420650  ...                                16489270
1974               456210  ...                                19456110
1975               492620  ...                                21468420
1976               500530  ...                                21619340
1977               534350  ...                                20856860
1978               571460  ...                                21245190
1979               629480  ...                                23193180
1980               672650  ...                                25365990
1981               663900  ...                                25380610
1982               669480  ...                                24526610
1983               653290  ...                                22860960
1984               685350  ...                                22387360
1985               723250  ...                                23426320
1986               834322  ...                                24822497
1987               855088  ...                                25422250
1988               910090  ...                                26166860
1989               951710  ...                                26740840
1990              1054860  ...                                27005130
1991              1092740  ...                                27702670
1992              1126970  ...                                26811250
1993              1135610  ...                                26233080
1994              1113180  ...                                25995930
1995              1099210  ...                                25807520
1996              1037050  ...                                25183240
1997              1023201  ...                                24638385
1998               974402  ...                                23310207
1999               911740  ...                                21737779
2000               911706  ...                                21684892
2001               909023  ...                                22207249
2002               891407  ...                                22222758
2003               859030  ...                                22158989
2004               847381  ...                                21887623
2005               862220  ...                                21629166
2006               860853  ...                                21275392
2007               855856  ...                                20984943
2008               842134  ...                                20828772
2009               812514  ...                                19895376
2010               781844  ...                                19376181
2011               752423  ...                                19212681
2012               762009  ...                                19121044
2013               726575  ...                                18373192
2014               741291  ...                                17622751
Total            37464999  ...                              1095748967

[56 rows x 7 columns]